.clinicalImpression{
  min-height: 110px;
  margin-bottom: 40px;
  padding-left: 20px;
  padding-right: 20px;

  .impressionContent{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .impressionHeader{
    padding-top: 10px;
    padding-bottom: 10px;

    .patientDisplay{
      font-weight: bold;
    }
    .createdDate{
      color: gray;
    }
  }
}
