<template name="sidebar">
  <section id="sidebar" class="sidebarMenu">

    <div id="sidebarMenuContents" class="sidebarMenuContents">

        <div id="usernameLink" class="sidebarMenuItem withLowerBorder">{{getUsername}}</div>
        <div id="homeLink" class="sidebarMenuItem">Home</div>

        {{#if currentUser}}
          <a id="themingLink" class="sidebarMenuItem">Theming</a>
          <a id="generateSampleData" class="sidebarMenuItem">Generate Sample Data</a>
          <a id="dropClinicalImpressions" class="sidebarMenuItem withLowerBorder">Clear Data</a>
        {{/if}}

        {{#if currentUser}}
          <a id="logoutButton" class="sidebarMenuItem withLowerBorder">Logout</a>
        {{/if}}

        <div id="connectionStatusPanel" class="centered">
          {{getConnectionStatus}}
        </div>


    </div>
  </section>
</template>
